html {
    font-size: calc(15px + 0.390625vw);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #ffffff;
  background: #323fa2;
  font-weight: normal;
  text-decoration: none;
  font-size: 1rem;
  font-style: normal;
  font-variant: normal;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #576cb6;
  transition: 0.2s;
}

header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.navbar h1{
  font-size: 1rem;

}

.house-logo {
  width: 75px;
  margin-right: 20px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin-left: 20px;
}

.links {
  display: flex;
  gap: 30px;
  justify-content: right;
  margin-right: 10px;
  margin-left: auto;
}

button {
  background-color: #efefef;
  font-family: 'Ubuntu', sans-serif;
  height: 30px;
  width: 60px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  margin-left: auto; /* Adjusted */
  margin-right: 20px; /* Adjusted */
  margin-left: 10px;
}

/* Dropdown Menu*/
.dropdown_menu {
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 992px) {
  .navbar {
    justify-content: space-between;
  }

  .links {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
  .form-container {
    display: none;
    justify-content: center;
    align-items: center;
  }
}

span {
  display: block;
  background: #999;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  margin-left: -2px;
}
.prediction-container {
  display: flex;
  gap: 20px;
  margin-top: 100px;
}

.price-result-container {
  flex: 1;
  background: rgba(101, 156, 248, 0.18);
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
  margin-right: 20px;
  margin-left: 20px;
}

.price-result-value-box {
  display: inline-block;
  padding: 5px 10px;
  background-color: rgba(234, 232, 232, 0.21);
  border-radius: 20px;
}


.form-container {
  flex: 1;
  background: rgba(101, 156, 248, 0.18);
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  width: 30%;
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px 30px 0;
}

form {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  gap: 10px;
}

.form-label {
  display: inline-block;
  background: rgba(168, 215, 255, 0.45);
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  width: 100%;
  margin-left: -15px;
  text-align: center;
  padding: 8px 0 0;
  width: 100%;
}

.form-input {
  display: inline-block;
  margin-bottom: 10px;
  padding: 8px 12px;
  border: 1px solid #0c0f41;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  width: 100%;
}

.form-input:focus {
  outline: none;
  border-color: #000000;
  box-shadow: 0 0 5px rgba(23, 5, 59, 0.5);
}

.send-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #17053b;
  margin-top: 10px;
  margin-left: 250px;
}

.send-button input[type="submit"] {
  background-color: #FF6339;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 8px;
}

.send-button input[type="submit"]:hover {
  background-color: #fff;
  color: #17053b;
}

